:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.swiper-button-prev,
.swiper-button-next {
  width: 40px !important;
  height: 40px !important;
  z-index: 999 !important;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  color: #fff !important;
  font-size: 20px !important;
  font-weight: bold;
}

.input-typetext {
  padding-left: 0 !important;
}

.thumbnail img {
  height: 260px !important;
}

.qty-input-box {
  width: 50px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: none;
  text-align: center;
}
